<aside class="aside is-placed-left is-expanded">
    <div class="aside-tools">
      <img src="assets/images/virtue-logo.png" width="400" height="80" />
    </div>
    <div class="menu is-menu-main">
      <p class="menu-label">General</p>
      <ul class="menu-list">
        <li class="active">
          <a [routerLink]="'./addUser'" routerLinkActive="active">
            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
            <span class="menu-item-label">Add User</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="'./employee-list'" routerLinkActive="active">
            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
            <span class="menu-item-label">Employees List</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="'./attendance'" routerLinkActive="active">
            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
            <span class="menu-item-label">Attendance</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="'./report'" routerLinkActive="active">
            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
            <span class="menu-item-label">Attendance Report</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  